#userInteraction{
  margin-left: 20%;
  margin-top: 50px;
}
#head{
  text-align: center;
  color:green;
}
button{
  background-color: green;
  color:white;
  height:25px;
  width:150px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(52, 73, 52, 0.4) ;
}
input{
  margin:10px 10px 10px 10px;
  width:350px;
  height: 25px;
  border-radius: 5px;
  /* box-shadow: 0px 0px 20px rgba(21, 21, 21, 0.4) ; */
}
#datas{
  display: flex;
  margin-left: 120px;
  margin-right: 120px;
  justify-content: space-between;
}
#database{
  background-color: rgb(70, 130, 70);
  margin-top: 50%;
  margin-left: 50%;
}
#status{
  display:none;
}
#edit{
  display:none;
}
#delete{
  display:none;
}
#cards{
  list-style: none;
}
#buttons{
  margin-left: 30px;
}
@media(max-width:450px)
{
  #userInteraction{
  margin-left: 20%;
  margin-top: 50px;
}
#head{
  text-align: center;
  color:green;
}
button{
  background-color: green;
  color:white;
  height:25px;
  width:100px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px rgba(52, 73, 52, 0.4) ;
  margin-left: 20%;
}
input{
  margin:10px 10px 10px 10px;
  width:200px;
  height: 25px;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(67,65, 65, .4) ;
}
#datas{
  display: flex;
  margin-left: 0px;
  margin-right: 0px;
  justify-content: space-between;
}
#database{
  background-color: rgb(70, 130, 70);
  margin-top: 95%;
  margin-left: 10px;
  margin-right: 50px;
}
#status,p{
  display:none;
}
#edit{
  display:none;
  background-color: rgb(44, 186, 44);
  width:30px;
}
#delete{
  display:none;
  background-color: rgb(160, 49, 49);
  width:30px;

}
#buttons{
  margin-left: 30px;
}
#cards{
  list-style: none;
}
li{
  cursor: pointer;
}
}
